# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**

* Explore popular languages for Data Science
* Understand key concepts of machine learning and its application
* Learn how to manipulate and analyze data using pandas
* Get hands on experience with Jupyter Notebooks for data analysis

Some of the popular languages that Data Scientists use are:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly

| Data Science Tools |
|-------------------|
| MySQL    |
| Jupyter Notebooks |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 6

minutes = 200
hours = 60
minutes/hours

3.3333333333333335

## Author
Ramfis Rosa