# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**

* Explore popular languages for Data Science
* Understand key concepts of machine learning and its application
* Learn how to manipulate and analyze data using pandas
* Get hands on experience with Jupyter Notebooks for data analysis

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:

* Pandas

* Numpy

* Matplotlib

* Seaborn

| Data Science Tools |
|-------------------|
| Anaconda    |
| R Studio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 6

minutes = 200
hours = 60
minutes/hours

3.3333333333333335

## Author
Ramfis Rosa